In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url ='https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
dic={}

In [5]:
#Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title
#and Paragraph Text. Assign the text to variables that you can reference later.
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

title= soup.find_all('div', class_='content_title')
body= soup.find('div', class_='article_teaser_body')
print(title[1].text)
print(body.text)

The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.

In [6]:
news_title=title[1].text
news_p= body.text

In [7]:
dic[news_title]=news_title
dic[news_p]=news_p

In [8]:
dic

{"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover": "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover",
 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'}

In [9]:
#browser.quit()

In [10]:
# JPL Mars Space Images - Featured Image
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
browser.find_by_id('full_image').click()

In [13]:
browser.find_link_by_partial_text('more info').click()

C:\Users\dania\Anaconda3\envs\py35\lib\site-packages\splinter\driver\webdriver\__init__.py:525: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
imgs=soup.find('figure', class_='lede')
print(imgs)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA19036_hires.jpg"><img alt="This image shows the first holes drilled by NASA's Mars rover Curiosity at Mount Sharp. The loose material near the drill holes is drill tailings and an accumulation of dust that slid down the rock during drilling." class="main_image" src="/spaceimages/images/largesize/PIA19036_hires.jpg" title="This image shows the first holes drilled by NASA's Mars rover Curiosity at Mount Sharp. The loose material near the drill holes is drill tailings and an accumulation of dust that slid down the rock during drilling."/></a>
</figure>

In [15]:
print(imgs.a)

<a href="/spaceimages/images/largesize/PIA19036_hires.jpg"><img alt="This image shows the first holes drilled by NASA's Mars rover Curiosity at Mount Sharp. The loose material near the drill holes is drill tailings and an accumulation of dust that slid down the rock during drilling." class="main_image" src="/spaceimages/images/largesize/PIA19036_hires.jpg" title="This image shows the first holes drilled by NASA's Mars rover Curiosity at Mount Sharp. The loose material near the drill holes is drill tailings and an accumulation of dust that slid down the rock during drilling."/></a>

In [16]:
print(imgs.a.img)

<img alt="This image shows the first holes drilled by NASA's Mars rover Curiosity at Mount Sharp. The loose material near the drill holes is drill tailings and an accumulation of dust that slid down the rock during drilling." class="main_image" src="/spaceimages/images/largesize/PIA19036_hires.jpg" title="This image shows the first holes drilled by NASA's Mars rover Curiosity at Mount Sharp. The loose material near the drill holes is drill tailings and an accumulation of dust that slid down the rock during drilling."/>

In [17]:
print(imgs.a.img['src'])

/spaceimages/images/largesize/PIA19036_hires.jpg

In [18]:
featured_image_url='https://www.jpl.nasa.gov'+imgs.a.img['src']
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19036_hires.jpg

In [19]:
dic[featured_image_url]=featured_image_url
dic

{"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover": "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover",
 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.',
 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19036_hires.jpg': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19036_hires.jpg'}

In [20]:
# Mars Facts
url ='https://space-facts.com/mars/'
facts=pd.read_html(url)
facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
type(facts)

list

In [22]:
df=facts[0]
df.columns=['Profile','Values']
df.set_index('Profile', inplace=True)
df.head()

                                             Values
Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [23]:
html_facts = df.to_html()
html_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Profile</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [24]:
#strip unwanted newlines to clean up the table.
html_facts.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Profile</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [25]:
df.to_html('facts.html')

In [26]:
#Mars Hemispheres
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [28]:
image_urls= []

In [29]:
imgs = browser.find_by_css("a.product-item h3")
imgs

In [30]:
# For loop

for i in range(len(imgs)):
    hemisphere = {}   
    browser.find_by_css("a.product-item h3")[i].click()
    
    # Find Sample Image
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get the Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append
    image_urls.append(hemisphere)
    
    # find imgs back
    browser.back()

C:\Users\dania\Anaconda3\envs\py35\lib\site-packages\splinter\driver\webdriver\__init__.py:533: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  warnings.warn(

In [31]:
image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [32]:
dic['hemisphere']=image_urls
dic

{"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover": "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover",
 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.',
 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19036_hires.jpg': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19036_hires.jpg',
 'hemisphere': [{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}